name: vocabify

services:
  api:
    image: ghcr.io/hungpn23/vocabify_be
    container_name: api
    restart: unless-stopped
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    networks:
      - vocabify_network

networks:
  vocabify_network:
