name: vocabify

services:
  node:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    extends:
      file: .docker/compose.base.yml
      service: node
    ports:
      - '${APP_PORT}:${APP_PORT}'
    env_file:
      - .env.production
    networks:
      - vocabify_network

networks:
  vocabify_network:
